@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --green: #3a6342;
    --greener: #348544;
    --light-paper: #f1f2e9;
    --paper: #d8d8c3;
    --lines: #bda4a4;
    --mutedred: #BA3333;
    --background: #dddddd;
    --text: #222222;
    --shadow: #22222299;
    --body-font: Lora, "Cactus Classical Serif", serif;
    --title-font: Lora, "Cactus Classical Serif", serif;
}

@counter-style cjk-decimal-spaced {
    system: numeric;
    range: 0 infinite;
    symbols: '\3007' '\4E00' '\4E8C' '\4E09' '\56DB' '\4E94' '\516D' '\4E03' '\516B' '\4E5D';
    /* symbols: 〇 一 二 三 四 五 六 七 八 九; */
    suffix: "\3000";
}


body {
    background-color: var(--background);
    color: var(--text);
    font-family: var(--body-font);
    height: 100%;
    /* display: flex; */
    /* flex-direction: row-reverse; */
    font-size: 18pt;
    overflow-x: auto;
    overflow-y: hidden;
}

/* #region c-box fundamentals */

c-box {
    display: block;
    writing-mode: vertical-rl;
    height: calc(95vh - 0.5em);
    max-height: 36.2em;
    padding: 0.5em;
    flex-shrink: 0;
}

c-box p {
    line-height: 150%;
    letter-spacing: 0.2em;
    margin: 0.75em 0.5em;
}

c-box h1 {
    font-size: 2.5em;
    font-weight: bold;
    font-family: var(--title-font);
}

c-box header p {
    margin: 0;
}

c-box header {
    background-color: var(--paper);
    padding: 3em 1.5em 6em 1.5em;
    border-top: 4pt double var(--green);
    border-bottom: 4pt double var(--green);
    border-left: 1pt solid var(--green);
    border-right: 1pt solid var(--green);
    position: relative; /* Needed for inner borders */
    margin-left: 1em;
    position: relative;
    box-shadow: 1px 2px 5px var(--shadow);
}

c-box header > header-footer {
    position: absolute;
    bottom: 1.5em;
    left: 50%;
    transform: translateX(-50%);
    max-height: 6em;
}

c-box header img.seal {
    width: 3em;
    height: 3em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    font-size: 1.5em;
    margin: 0.75em 0.5em ;
}

h3 {
    font-size: 1em;
    margin: 0.75em 0.5em ;
}

a {
    color: var(--green);
    text-decoration: none;
}

a:hover, a:hover:visited {
    color: crimson;
    text-decoration: line-through;
}

a.black {
    color: var(--text);
}

a:visited {
    color: darkslategray;
}

span.tight {
    letter-spacing: 2px;
}

.blank {
    width: 1.5em
}

/* #endregion */

/* #region juan paragraphs */

.juan {
    display: block;
    
    background-color: var(--paper);
    border-top: 5px double var(--green);
    border-bottom: 5px double var(--green);
    padding: 1em;
    margin-left: 1em;

    box-shadow: 1px 2px 5px var(--shadow);
}

.juan p {
    margin: 0;
}

.juan h2 {
    margin: 0;    
    border-left: 1.2pt solid var(--lines);
}

.juan h3 {
    margin: 0;
    border-left: 1.2pt solid var(--lines);
}

.juan p {
    background: repeating-linear-gradient(
        270deg,
        var(--paper), var(--paper) 1.444em,
        var(--lines) 1.444em, var(--lines) 1.5em
    );
}

.juan blockquote {
    margin: 0;
    line-height: 150%;
    padding-top: 2.4em;
    padding-left: 0.1em;
    background: repeating-linear-gradient(
        270deg,
        var(--paper), var(--paper) 1.444em,
        var(--lines) 1.444em, var(--lines) 1.5em
    );
    letter-spacing: 0.2em;
}

.juan figure {
    margin: 0 0.3em 0 0em;
    padding-left: 0.3em;
    border-left: 1.2pt solid var(--lines) ;
}

.juan figure > img {
    max-height: 100%;
}

.juan ul {
    list-style-type: none;
    padding-top: 1.2em;
    margin: 0;
    line-height: 150%;
    letter-spacing: 0.2em;
    background: repeating-linear-gradient(
        270deg,
        var(--paper), var(--paper) 1.444em,
        var(--lines) 1.444em, var(--lines) 1.5em
    );
}

.juan ol {
    list-style-type: cjk-decimal-spaced;
    margin: 0;
    padding-top: 0;
    line-height: 150%;
    letter-spacing: 0.2em;
    background: repeating-linear-gradient(
        270deg,
        var(--paper), var(--paper) 1.444em,
        var(--lines) 1.444em, var(--lines) 1.5em
    );
}

.juan .judou {
    position: relative;
    margin-inline-start: -1.2em;
    left: 0.65em;
    top: 0.45em;
    color: var(--mutedred);
}

.juan .small {
    font-size: 9pt;
    letter-spacing: 0.2em;
    position: relative;
    margin-bottom: 0.2em;
    margin-top: -0.2em;
}

.juan .blank {
    border-left: 1.2pt solid var(--lines);
}

.juan .speechmark {
    position: relative;
    margin-inline-start: -0.35em;
    margin-inline-end: -0.35em;
    color: var(--mutedred);
}

.juan .speechmark.start {
    left: 0.25em
}

.juan .speechmark.end {
    right: 0.2em
}

.juan .black {
    background-color: var(--text);
    color: var(--light-paper);
    border-radius: 0.05em;
    box-shadow: 0 -0.1em 0 0.1em var(--text);
}

.juan u {
    text-decoration: underline solid var(--mutedred);
}

/* #endregion */

/* #region flex juanku list items */

div.juanku {
    display: flex;
    flex-direction: row;
    padding-left: 1em;
    justify-content: left;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 1em;
}

.juanku > div {
    background-color: #d8d8c3;
    writing-mode: vertical-rl;
    letter-spacing: .1em;
    padding: 0.75em 0.5em 0.75em 0.5em;
    border-top: 1px solid var(--green);
    border-bottom: 1px solid var(--green);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
    /* fontsi */
}

/* #endregion */

/* #region Special decoration stuff */

c-box header::before {
    content: ""; position: absolute;
    top: 0; bottom: 0; right: 1.5em;
    border-left: 1pt solid var(--green);
}

c-box header::after {
    content: ""; position: absolute;
    top: 0; bottom: 0; left: 1.5em;
    border-left: 1pt solid var(--green);
}

/* #endregion */

.return-button {
    position: fixed;
    bottom: 1em;
    left: 1em;
    padding: 0.5em;
    background: rgba(34, 34, 34, 0.2);
    border: none;
    border-radius: 0.2em;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14pt;
    writing-mode: horizontal-tb;
    transition: background 0.2s;
    font-family: var(--body-font);
}

@media (max-width: 768px) {
    html, body {
        overflow-y: hidden;
    }

    body {
        position: relative;
    }

    .return-button {
        bottom: unset;
        top: calc(95vh - 4em);
        left: 1em;
    }

    c-box {
        height: calc(90vh - 0.5em);
        max-height: 36.2em;
    }
}

