@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@460;750&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');

body {
    background-color: #dddddd;
    color: #222222;
    font-family: Manrope, 'Noto Serif TC', 'Noto Serif SC', sans-serif;
    font-size: 12pt;
    /* display: flex; */
}

.cbox {
    display: flex;
    align-self: center;
    margin: 0 auto;
    max-width: 840px;
    width: 90%;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-family: Manrope, sans-serif;
}