$bg-standard: #ddd;
$txt-standard: #222;
$grey-mid: #aaa;
$grey-high: #ccc;
$main: #3a6342;
$main-light: #348544;
$main-shadow: #1f491f24;
$shenhai-shadow: #22222299;
$page: #f1f2e9;
$page-dark: #d8d8c3;
$linework: #bda4a4;
$red: #ba3333;
